################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/Dietetyka/Dietetyka/App_Data/Baza.mdf
